{% extends 'bootstrap/base.html' %}

{% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <title>
        {% block title %} Inamex | {% endblock %}
    </title>
{% endblock %}

{% block body %}


    {% for message in get_flashed_messages() %}
        <div class="alert alert-success alert-dismissible">
            <button type="button"
                    data-dismiss="alert"
                    class="close">&times;</button>
            {{ message }}
        </div>
    {% endfor %}

    <div class="container-sm">
        <div class="row">
            <div class="col-8">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>

    {% block scripts %}
        {{ super() }}
    {% endblock %}

{% endblock %}