{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}
    {{ super() }}
    Tools
{% endblock title %}

{% block content %}
<div class="container">
    <h2>Subir archivos xls de opus 2010</h2>
</div>
<div class="container">
    {{ wtf.quick_form(
        form,
        form_type='horizontal',
        enctype='multipart/form-data',
        button_map={'submit':'success'}
    ) }}
</div>

{% endblock content %}